<!DOCTYPE html>
<html>
  <head>
    <title>Cosmetic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <script src="https://kit.fontawesome.com/8b5a5b499c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>Cosmetic</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              
        <%= form_with url: search_post_image_index_path, local: true, method: :get do |f| %>
      <%= f.text_field :keyword %>
      <%= f.submit "検索" %>
        <% end %>

      
    <% if user_signed_in? %>
    <li>
      <%= link_to post_image_index_path,class: 'nav-link text-light' do %> ホーム
      <% end %>
    </li>
    <li>
      <%= link_to new_post_image_path,class: 'nav-link text-light' do %> 投稿
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %> ログアウト
      <% end %>
    </li>
    <% else %>
    <li>
      <%= link_to new_user_registration_path,class: 'nav-link text-light' do %> 新規登録
      <% end %>
    </li>
    <li>
      <%= link_to new_user_session_path,class: 'nav-link text-light' do %> ログイン
      <% end %>
    </li>
    <% end %>
            </ul>
          </div>
        </div>
      </nav>
  </header>
    <%= yield %>
    
    <footer>
  <!--ログインしてるユーザーが管理者の場合のみ-->
  <% if current_user.try(:admin?) %>
    <%= link_to '管理者ログイン', rails_admin_path %>
  <% end %>
</footer>
  </body>
</html>
